In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

import acquire
import summarize
import prepare
import wrangle_zillow

In [2]:
df = wrangle_zillow.wrangle()

--- Shape: (52441, 63)
--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52441 entries, 0 to 52440
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52441 non-null  float64
 1   parcelid                      52441 non-null  int64
 2   id                            52441 non-null  int64
 3   logerror                      52441 non-null  float64
 4   transactiondate               52441 non-null  object
 5   id.1                          52441 non-null  int64
 6   airconditioningtypeid         13638 non-null  float64
 7   architecturalstyletypeid      70 non-null     float64
 8   basementsqft                  47 non-null     float64
 9   bathroomcnt                   52441 non-null  float64
 10  bedroomcnt                    52441 non-null  float64
 11  buildingclasstypeid           0 non-null      float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  heatingorsystemtypeid         33935 non-null  float64
 29  latitude                      52441 non-null  float64
 30  longitude                     52441 non-null  float64
 31  lotsizesquarefeet             52072 non-null  float64
 32  poolcnt                       11096 non-null  float64
 33  poolsizesum                   867 non-null    float64
 34  pooltypeid10                  444 non-null    float64
 35  pooltypeid2                   1071 non-null   float64
 36  pooltypeid7                   10009 non-null  float64
 37  propertycountylandusecode     52441 non-null  object
 38  propertyzoningdesc            33848 non-null  object
 39  rawcensustractandblock        52441 non-null  float64
 40  regionidcity                  51404 non-null  float64
 41  regionidcounty                52441 non-null  float64
 42  regionidneighborhood          19033 non-null  float64
 43  regionidzip                   52415 non-null  float64
 44  roomcnt                       52441 non-null  float64
 45  storytypeid                   47 non-null     float64
 46  threequarterbathnbr           6724 non-null   float64
 47  typeconstructiontypeid        76 non-null     float64
 48  unitcnt                       33847 non-null  float64
 49  yardbuildingsqft17            1937 non-null   float64
 50  yardbuildingsqft26            63 non-null     float64
 51  yearbuilt                     52325 non-null  float64
 52  numberofstories               14561 non-null  float64
 53  fireplaceflag                 81 non-null     float64
 54  structuretaxvaluedollarcnt    52357 non-null  float64
 55  taxvaluedollarcnt             52440 non-null  float64
 56  assessmentyear                52441 non-null  float64
 57  landtaxvaluedollarcnt         52440 non-null  float64
 58  taxamount                     52437 non-null  float64
 59  taxdelinquencyflag            2079 non-null   object
 60  taxdelinquencyyear            2079 non-null   float64
 61  censustractandblock           52318 non-null  float64
 62  propertylandusedesc           52441 non-null  object
dtypes: float64(55), int64(3), object(5)
memory usage: 25.6+ MB
--- Column Descriptions
        propertylandusetypeid      parcelid            id      logerror  \
count                 52441.0  5.244100e+04  52441.000000  52441.000000
unique                    NaN           NaN           NaN           NaN
top                       NaN           NaN           NaN           NaN
freq                      NaN           NaN           NaN           NaN
mean                    261.0  1.299912e+07  38859.892946      0.018298
std                       0.0  3.411444e+06  22348.009638      0.177501
min                     261.0  1.071186e+07      0.000000     -4.655420
25%                     261.0  1.151022e+07  19546.000000     -0.024639
50%                     261.0  1.257764e+07  38927.000000      0.007011
75%                     261.0  1.412953e+07  58092.000000      0.040692
max                     261.0  1.676878e+08  77612.000000      5.262999

       transactiondate          id.1  airconditioningtypeid  \
count            52441  5.244100e+04           13638.000000
unique             257           NaN                    NaN
top         2017-06-30           NaN                    NaN
freq               810           NaN                    NaN
mean               NaN  1.497270e+06               2.438041
std                NaN  8.594393e+05               3.846176
min                NaN  3.490000e+02               1.000000
25%                NaN  7.579550e+05               1.000000
50%                NaN  1.500810e+06               1.000000
75%                NaN  2.241534e+06               1.000000
max                NaN  2.982270e+06              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt  ...  \
count                   70.00000     47.000000  52441.000000  ...
unique                       NaN           NaN           NaN  ...
top                          NaN           NaN           NaN  ...
freq                         NaN           NaN           NaN  ...
mean                     7.10000    678.978723      2.299403  ...
std                      2.66567    711.825226      1.022772  ...
min                      2.00000     38.000000      0.000000  ...
25%                      7.00000    263.500000      2.000000  ...
50%                      7.00000    512.000000      2.000000  ...
75%                      7.00000    809.500000      3.000000  ...
max                     21.00000   3560.000000     18.000000  ...

        fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count            81.0                5.235700e+04       5.244000e+04
unique            NaN                         NaN                NaN
top               NaN                         NaN                NaN
freq              NaN                         NaN                NaN
mean              1.0                1.965338e+05       5.296882e+05
std               0.0                2.543401e+05       7.518946e+05
min               1.0                1.290000e+02       1.000000e+03
25%               1.0                7.707100e+04       1.937475e+05
50%               1.0                1.318110e+05       3.736120e+05
75%               1.0                2.263340e+05       6.193012e+05
max               1.0                9.164901e+06       4.906124e+07

        assessmentyear  landtaxvaluedollarcnt      taxamount  \
count          52441.0           5.244000e+04   52437.000000
unique             NaN                    NaN            NaN
top                NaN                    NaN            NaN
freq               NaN                    NaN            NaN
mean            2016.0           3.334655e+05    6453.511209
std                0.0           5.705278e+05    8755.568452
min             2016.0           1.610000e+02      49.180000
25%             2016.0           7.602075e+04    2656.220000
50%             2016.0           2.180320e+05    4647.740000
75%             2016.0           4.086068e+05    7377.500000
max             2016.0           4.895220e+07  586639.300000

        taxdelinquencyflag  taxdelinquencyyear  censustractandblock  \
count                 2079         2079.000000         5.231800e+04
unique                   1                 NaN                  NaN
top                      Y                 NaN                  NaN
freq                  2079                 NaN                  NaN
mean                   NaN           14.102453         6.050240e+13
std                    NaN            2.394972         1.859036e+12
min                    NaN            4.000000         6.037101e+13
25%                    NaN           14.000000         6.037401e+13
50%                    NaN           15.000000         6.037620e+13
75%                    NaN           15.000000         6.059042e+13
max                    NaN           99.000000         4.830301e+14

              propertylandusedesc
count                       52441
unique                          1
top     Single Family Residential
freq                        52441
mean                          NaN
std                           NaN
min                           NaN
25%                           NaN
50%                           NaN
75%                           NaN
max                           NaN

[11 rows x 63 columns]

In [3]:
df.shape

(52376, 34)

In [4]:
summarize.nulls_by_col(df)

                              num_rows_missing  percent_rows_missing
propertylandusetypeid                        0              0.000000
parcelid                                     0              0.000000
id                                           0              0.000000
logerror                                     0              0.000000
transactiondate                              0              0.000000
id.1                                         0              0.000000
bathroomcnt                                  0              0.000000
bedroomcnt                                   0              0.000000
buildingqualitytypeid                    18636             35.581182
calculatedbathnbr                           72              0.137468
calculatedfinishedsquarefeet                17              0.032458
finishedsquarefeet12                       182              0.347487
fips                                         0              0.000000
fullbathcnt                                 72              0.137468
heatingorsystemtypeid                    18441             35.208874
latitude                                     0              0.000000
longitude                                    0              0.000000
lotsizesquarefeet                          360              0.687338
propertycountylandusecode                    0              0.000000
propertyzoningdesc                       18539             35.395983
rawcensustractandblock                       0              0.000000
regionidcity                              1031              1.968459
regionidcounty                               0              0.000000
regionidzip                                 23              0.043913
roomcnt                                      0              0.000000
unitcnt                                  18529             35.376890
yearbuilt                                   51              0.097373
structuretaxvaluedollarcnt                  76              0.145105
taxvaluedollarcnt                            1              0.001909
assessmentyear                               0              0.000000
landtaxvaluedollarcnt                        1              0.001909
taxamount                                    4              0.007637
censustractandblock                        114              0.217657
propertylandusedesc                          0              0.000000

In [5]:
summarize.nulls_by_row(df)

   nums_cols_missing  percent_cols_missing  index
0                  0              0.000000  32126
1                  1              2.941176   1588
2                  2              5.882353    129
3                  3              8.823529    586
4                  4             11.764706  17326
5                  5             14.705882    547
6                  6             17.647059     26
7                  7             20.588235     34
8                  8             23.529412     14